body {
  background-color: @bgColor;
}

.container {
  width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid @bdColor;
}

.ant-layout,.ant-layout-header,.ant-layout-footer {
  background: @bgColor;
}

@current: #f2bd00;

@theme: #108ee9;

@bgColor: #fcfcfc;

@bdColor: #eee;